BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
AccessModifierOffset: -4
